@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: #F8F9FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #007BFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F8F9FA;
}

.App-link {
  color: #FFC107;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para el Header */
#header {
  height: 120px;
  width: 100%;
  background: #343A40;
  border-bottom: solid #6C757D;
  border-top: solid #007BFF;
  color: #FFC107;
  text-shadow: 0px 1px 2px #444;
}

.center {
  width: 90%;
  margin: 0 auto;
}

.clearfix {
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 22px;
  float: left;
  margin-top: 40px;
}

#logo img {
  display: block;
  float: left;
  height: 80px;
  border-radius: 15%;
  margin-top: -18px;
  margin-right: 1px;
  animation: girar infinite 30s linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brand {
  display: block;
  margin: 0;
  float: left;
}

#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 110px;
  width: 65%;
  float: right;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 5px;
  margin-right: 5px;
}

#menu a {
  text-decoration: none;
  color: #FFC107;
  transition: 300ms all;
}

#menu a:hover {
  color: #007BFF;
}

.active {
  border-bottom: 2px solid #007BFF;
  border-top: 2px solid #007BFF;
}

/* Estilos para el slider */
#slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  color: #F8F9FA;
  text-shadow: 0px 0px 5px #444;
  background: radial-gradient(circle, rgba(0,123,255,1) 0%, rgba(0,123,255,0.8) 50%, rgba(0,123,255,0.6) 100%);
}

#slider h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
}

#slider img {
  max-height: 50%;
  width: auto;
  height: auto;
}

#slider a {
  margin-top: 18%;
  margin-right: 13%;
  margin-left: -20%;
}

/* Estilos para el botón blanco */
.btn-white {
  background: #F8F9FA;
  color: #343A40;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: 300ms all;
  border: 1px solid #343A40;
}

.btn-white:hover {
  background: #343A40;
  color: #F8F9FA;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: -15%;
  padding: 0;
  padding-top: 5px;
  color: #FFC107;
}

#content {
  width: 70%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
}

.content-home {
  min-height: 425px !important;
}

/* Estilos para el sidebar */
#sidebar {
  padding-top: 4%;
}

.slidebar-item {
  float: left;
  width: 25%;
  background: #6C757D;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 2%;
}

.slidebar-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #EEE;
}

.slidebar-item .btn {
  margin: 0 auto;
  margin-top: 10px;
}

/* Estilos para botones */
.btn {
  display: block;
  background: #007BFF;
  color: #F8F9FA;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  transition: 300ms all;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background: #28A745;
}

.btn-success:hover {
  background: #218838;
}

.btn-warning {
  background: #FFC107 !important;
  color: #343A40 !important;
  width: 120px;
  text-align: center;
  border: solid 1px #6C757D;
}

.btn-warning img {
  width: 40%;
  height: auto;
}

.btn-danger {
  background: #DC3545 !important;
  color: #F8F9FA !important;
  text-align: center;
  float: left;
}

.btn-danger img {
  width: 55%;
  height: auto;
}

.btn-danger:hover {
  background: #C82333;
}

.mid-form {
  width: 50%;
  margin: 0 auto;
}

.mid-form label {
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

input[type="text"], textarea, input[type="file"] {
  width: 100%;
  height: 30px;
  border: 1px solid #6C757D;
  padding: 3px;
  margin-bottom: 5px;
  transition: 300ms all;
}

input[type="text"]:focus, textarea:focus {
  box-shadow: 0px 0px 5px #007BFF inset;
}

textarea {
  width: 100%;
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 300px;
}

input[type="submit"] {
  margin-top: 15px;
}

.padding-5 {
  padding-top: 5%;
  padding-left: 5%;
}

.paddingTLR-52 {
  padding-top: 5%;
  padding-left: 5%;
  padding: 2%;
}

.paddingRBL-5 {
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.margin-top-7 {
  margin-top: 7%;
}

.margin-bottom-66 {
  margin-bottom: 66%;
}

.pokemon-content {
  text-align: justify;
  text-indent: 2%;
  white-space: pre-wrap;
}

.thumb {
  display: block;
  width: 170px;
  float: left;
}

.radiobuttons {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

#footer {
  background: #343A40;
  width: 100%;
  height: 70px;
  line-height: 40px;
  color: #FFC107;
  text-shadow: 0px 1px 2px #444;
}

#footer p {
  margin: 0;
  padding: 0;
}

.pokemon-item {
  width: 100%;
  border-bottom: 1px solid #EEE;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.pokemon-item .image-wrap {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #6C757D;
}

.pokemon-item .image-wrap img {
  height: 100%;
  text-align: center;
}

.pokemon-item h2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
}

.pokemon-item .date {
  display: block;
  width: 100%;
  color: #6C757D;
}

.pokemon-item a {
  display: block;
  width: 15%;
  margin-left: 142px;
  color: #007BFF;
  text-decoration: none;
  margin-top: 10px;
  transition: 300ms all;
}

.pokemon-item a:hover {
  border: 1px solid #007BFF;
  border-radius: 3px;
  background-color: #007BFF;
  color: #F8F9FA;
}

.subheader {
  font-size: 35px;
  border-bottom: 1px solid #6C757D;
  padding-bottom: 10px;
}

.pokemon-detail .image-wrap {
  float: none;
  width: 100%;
  height: 300px;
}

.pokemon-detail .image-wrap img {
  width: 100%;
  height: auto;
}

.pokemon-detail .subheader {
  margin-top: 15px;
  margin-bottom: 0;
  border: none;
}

.link-name {
  text-decoration: none;
  color: #F8F9FA;
  font-size: 1.3rem;
}

.link-name:hover {
  cursor: pointer;
  color: #E3E3E3;
}

/* Estilos adicionales para el componente Search */
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form input {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #6C757D;
  border-radius: 5px;
}

.search-form button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #F8F9FA;
  font-weight: bold;
  cursor: pointer;
}

.search-form button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

/* Estilos para PokemonPage */
.pokemon-card {
  background-color: #F8F9FA;
  border: none;
}

.pokemon-image {
  width: 16rem;
}

.pokemon-details-card {
  background-color: #F8F9FA;
  border: none;
}

.type-badge {
  color: white;
  font-weight: bold;
}

.pokemon-sprite {
  width: 13rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #6C757D;
  padding-bottom: 5px;
}

.ability-badge, .stat-badge, .move-badge, .info-badge {
  background-color: #6C757D;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}

/* CARDS COLOURS BY TYPE */
.grass {
  background-color: #28A745;
}

.fire {
  background-color: #DC3545;
}

.water {
  background-color: #17A2B8;
}

.electric {
  background-color: #FFC107;
}

.ice {
  background-color: #17A2B8;
}

.fighting {
  background-color: #DC3545;
}

.poison {
  background-color: #6F42C1;
}

.ground {
  background-color: #E0A800;
}

.flying {
  background-color: #6C757D;
}

.psychic {
  background-color: #E83E8C;
}

.ghost {
  background-color: #6F42C1;
}

.bug {
  background-color: #28A745;
}

.rock {
  background-color: #795548;
}

.dragon {
  background-color: #007BFF;
}

.normal {
  background-color: #6C757D;
}

.fairy {
  background-color: #FFC0CB;
}

.dark {
  background-color: #343A40;
}

.steel {
  background-color: #6C757D;
}

/* Estilos para la página de error */
.error-page {
  text-align: center;
  padding: 50px 20px;
}

.error-page .subheader {
  font-size: 24px;
  margin-bottom: 20px;
}

.error-page p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilos para la página de Acerca de */
.card {
  color: #343a40ff;
}

.card-title {
  color: #FFC107;
}

.card-text {
  color: #343a40ff;
}

.btn-primary {
  background-color: #007BFF;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.space-top {
  margin-top: 20px;
}

.margin-top-7 {
  margin-top: 7%;
}

.mb-7 {
  margin-bottom: 7%;
}

.pb-5 {
  padding-bottom: 5%;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 5px;
}

/* Estilos para el Footer */
#footer {
  background: #343A40;
  width: 100%;
  height: auto;
  color: #FFC107;
  text-shadow: 0px 1px 2px #444;
}


.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.footer-text {
  text-align: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0 auto;
}

.logo-img {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .footer-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.footer-icons {
  display: flex;
  justify-content: space-between;
}

.footer-icons a {
  color: #FFC107;
  font-size: 1.5rem;
  margin: 0 10px;
}

.footer-icons a:hover {
  color: #007BFF;
}

.text-reset {
  color: inherit;
  text-decoration: none;
}

.text-reset:hover {
  color: inherit;
}

/* Estilos para el aviso de no resultados */
.no-results {
  text-align: center;
  margin-top: 20px;
  height: 100%;
}

.no-results-image {
  width: auto;
  height: 70%;
}

.no-results-text {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 10px;
  font-weight: bold;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1250px) {
  .center {
    width: 95%;
  }

  #menu ul {
    width: auto;
  }

  #slider .slider-small h1 {
    margin-top: -35%;
    padding-top: 35px;
  }


}

@media (max-width: 1050px) {
  #logo {
    width: 265px;
  }

  #slider .slider-small h1 {
    margin-top: -35%;
    padding-top: 35px;
  }


}

@media (max-width: 760px) {
  .center {
    width: 85%;
  }

  #logo {
    float: none;
    width: 245px;
    margin: 0 auto;
    margin-top: 20px;
  }

  #menu, #menu ul {
    clear: both;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 43px;
  }

  #content {
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  .slidebar-item {
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7%;
  }

  #slider .slider-small h1 {
    margin-top: -35%;
    padding-top: 35px;
  }

  #slider h1 {
    padding-top: 115px;
    font-size: 25px;
  }

  .mid-form {
    width: 70%;
  }

  .footer-row {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
}

@media (max-width: 500px) {
  #header {
    min-height: 130px;
    overflow: hidden;
  }

  #menu, #menu ul {
    line-height: 50px;
  }

  #menu ul li {
    margin-left: 7px;
    margin-right: 7px;
  }

  #slider {
    height: 180px;
  }

  #slider h1 {
    font-size: 19px;
    padding-top: 30px;
  }

  #slider .btn-white {
    margin-top: -35px;
  }

  #slider .slider-small {
    height: 100px;
  }

  #slider .slider-small h1 {
    margin-top: -35%;
    padding-top: 35px;
  }

  .slidebar-item {
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7%;
  }

  .footer-row {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

/* UTILITY CLASSES */
.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.min-w-100-vh {
  min-height: 100vh;
}
.font-weight-500 {
  font-weight: 500;
}
/* Spaces */
.space-top {
  margin-top: 10px;
}
.space-top-lg {
  margin-top: 30px;
}
.margin-0 {
  margin: 0!important;
}
/* Fonts */
.text-primary {
  color: #007BFF;
}
.text-secondary {
  color: #6C757D;
}
.text-center {
  text-align: center;
}

/* Position */
.position-relative {
  position: relative;
}

/* Progress bar */
.progress-container {
  border-radius: 10px;
  background-color: lightgrey;
}

.progress {
  height: 0.5rem;
  background-color: royalblue;
  border-radius: 10px;
}

.progress.percent-95 {
  width: 95%;
}

.progress.percent-90 {
  width: 90%;
}

.progress.percent-85 {
  width: 85%;
}

.progress.percent-80 {
  width: 80%;
}

.progress.percent-75 {
  width: 75%;
}

.progress.percent-70 {
  width: 70%;
}

.progress.percent-65 {
  width: 65%;
}

.progress.percent-60 {
  width: 60%;
}

.progress.percent-55 {
  width: 55%;
}

.progress.percent-50 {
  width: 50%;
}

.progress.percent-45 {
  width: 45%;
}

.progress.percent-40 {
  width: 40%;
}